*.class
*.log
build

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.idea
*.iml

/test_output/PropertiesConfigTest/load_properties_test.properties
/arg_builder_test_output.properties
/test_output/PropertiesConfigTest/roundtrip_properties_test.properties
